.image-general{
    width: 100%;
}

.image-container{
    width: 80%;
    margin: 0 auto;
}

.image-description{
    margin-top: -45px;
    background-color: rgba(83, 83, 83, 0.459);
    position: absolute;
    width: 80%;
    padding: 10px;
}